
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oleo+Script&family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
:root{
    --mainbg: linear-gradient(to top, #d8dfe4, #9eb9c5);
    --shadow: 5px 5px 20px #575C5E;
    --sectionbg: #BACCD5;
    --cinzamedio: #9EB9C5;
    --cinzaescuro: #7A9BA7;
    --cinzalight: #BACCD5;
    --cizadark: #575C5E;
    --claro: #D8DFE4;
    --blue: #6899fd;    
}
body{
    width: 100%;
    height: 100vh;
    background: var(--mainbg);
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .content{
    position: relative;
    width: 25%;
    height: 80%;
    background: var(--sectionbg);
    box-shadow: var(--shadow);
    border-radius: 1em;
}
.container .content .page1{
    width: 100%;
    height: 90%;
}
.container .content .page1 .content-title{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1em;
}
.container .content .page1 .content-title .title .text{
    outline: none;
    border: none;
    font-size: 25pt;
    background: var(--sectionbg);
    font-weight: bold;
    font-family: "dancing script";
    width: 5em;
}
.container .content .page1 .content-title .title .text::placeholder{
    padding-left: .1em;
}

.container .content .page1 .contentverse{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .page1 .contentverse .versedate{
    width: 70%;
    height: 50%;
    
    border-radius: 1em;
}
.container .content .page1 .contentverse .versedate .daylidate{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.container .content .page1 .contentverse .versedate .daylidate span{
    margin: 3px:
}
.container .page1 .contentverse .versedate .dayliverse{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilizando o navigation */
.container .content .navigation{
    position: relative;
    width: 100%;
    height: 10%;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.container .content .navigation ul{
   display: flex;
   width: 300px;
}
.container .content .navigation ul li{
    list-style: none;
    position: relative;
    width: 75px;
    height: 60px;
    z-index: 2;
}
.container .content .navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.container .content .navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
}
.container .content .navigation ul li.active a .icon{
    transform: translateY(-32px);
}
.container .content .navigation ul li a .text{
    position: absolute;
    background: #2196f3;
    color: #ffff;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(15px);
}
.container .content .navigation ul li.active a .text{
    transform: translateY(-4px);
    opacity: 1;
}
.indicator{
    position: absolute;
    top: -35px;
    left: 25px;
    width: 65px;
    height: 65px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: .5s;
}
.indicator::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px #fff;
}
.indicator::after{
    content: "";
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px #fff;
}

.container .content .navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px*0));
}
.container .content .navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px*1));
    left: 30px;
}
.container .content .navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px*2));
    left: 35px;
}
.container .content .navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px*3));
    left: 40px;
}





.section-list{
    display: none;
}
